body{
    background-color: #d2cca1;
    font-family: Arial, Helvetica, sans-serif;
    color: #696969;
}

#app {
    display: block;
    height: auto;
    width: 1000px;
    margin-left: 450px;
}

#app h1{
    color: #387780;
    font-weight: 600;
}

#app ul{
    font-weight: 600;
}

#app ul li{
    list-style-type: none;
    margin-top: 5px;
}

#app ul a{
    margin-left: 10px;
    text-decoration-line: none;
    color: #757780;
}

#app ul a:hover{
    color: #e83151;
    font-weight: 800;
}

#app button{
    caret-color: #387780;
}